<!DOCTYPE html>
<html lang="en">
<body>
    <h1>This is my first EJS</h1>
    <h1>
        <!-- displaying variable -->
        <%= name%>

        <!-- making varibale -->
        <% let x =5 %>
        <%= x %>

        <!-- comments in EJS -->
        <%# Comment will not be present in the rendered HTML %>

    </h1>
</body>
</html>